/* rtf.css - stylesheet for the bookrtf RTF output 
   
   Supported elements:
     body
     p
     h1
     h2
     h3
     li
     td
     th
   
   Supported classes: 
     .header-left
     .header-right
     .footer-left
     .footer-right
   
   Supported properties [values]:
     margin-top [px]
     margin-right [px]
     margin-bottom [px]
     margin-left [px]
     font-family [first value only]
     font-size [pt]
     font-weight ["bold"]
     text-align ["left", "right", "center", "justify"]
     
   Note that values should be in css format including the unit. These will be
   converted to rtf units and rounded to whole units. Supported values are
   mentioned between square brackets behind the property. */

body {
  font-family: Calibri;
  font-size: 12pt;
}

p {
  margin-bottom: 13px;
  text-align: justify;
}

h1 {
 margin-bottom: 13px;
 font-size: 16pt;
 font-weight: bold;
}

h2 {
 margin-bottom: 0px;
 font-size: 14pt;
 font-weight: bold;
}

h3 {
 margin-bottom: 0px;
 font-size: 16pt;
 font-weight: bold;
 text-align: center;
}

li {
 margin-bottom: 0px;
 text-align: left;
}

td {
 margin-left: 2px;
 margin-right: 2px;
 text-align: left;
}

.header-left {
  text-align: left;
  font-weight: bold;
}

.header-right {
  text-align: right;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right; 
}

